#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

html, body {
  height: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
}

body {
  margin: 0;
  width: 100%;
  font-family: sans-serif;
}

/* App.css */

.homepage {
  position: relative;
  height: calc(100vh - 90px);
  width: 100%;
}

.content {
  background-color: #fafafa;
  height: calc(100vh - 90px);
}

.about {
  text-align: left;
  padding-top: 15px;
  padding-left: 25px;
}

.sounds {
  text-align: left;
  padding-top: 15px;
  padding-left: 25px;
}

.site {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* semi-transparent background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.fade-out {
  animation: fadeOut 0.6s ease forwards;
}

/* .fade-in {
  animation: fadeIn 0.5 ease forwards;
} */

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

/* @keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
} */

.title {
  font-size: 2rem;
  color: #333;
}

button {
  padding: 5px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #537334;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #395225;
}

#sound-search {
  margin: 10px;
  padding: 5px 20px;
  width: 350px;
}

.control-panel {
  font-size: 14px;
  line-height: 18px;
  width: 284px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 24px;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  cursor: auto;
  box-sizing: border-box;
}

.control-panel h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 8px 0;
}

.control-panel h4 {
  font-weight: 500;
  margin: 8px 0;
}

.filter-options{
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

select {
  max-width: 75%;
  min-width: 75%;
}

.sound-info, .sound-card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 0px;
  width: 100%;
  max-width: 300px;
  height: 300px;
  align-items: center;
  background-color: #fff;
}

.sound-info img {
  width: 85%;
  height: flex;
  object-fit: cover;
  object-position: center;
  display: block;
}

.sound-info audio {
  display: block;
  width: 100%;
  min-height: 42px;
  margin: 1rem 0;
}

#sounds-page-title {
  margin-left: 10px;
}

.sound-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sound-card {
  border: 3px solid;
  border-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 5px #d3d3d3;
}

.sound-card:hover {
  /* box-shadow: 5px 5px #008cba; */
  border-color: #395225;
  box-shadow: 5px 5px #537334;
  cursor: pointer;
}

.divider {
  border: 1px solid #333;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* semi-transparent background */
  z-index: 1;
  padding-left: 15px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}

.nav-options {
  /* margin-top: -45px; */
  /* margin-bottom: 10px; */
  margin-right: 15px;
}

nav button {
  font-size: 1rem;
  font-weight: bold;
  /* text-decoration: underline;
  text-underline-offset: 6px; */
  background-color: transparent;
  color: #333;
  transition: background-color 0.3s ease;
  /* -webkit-text-stroke: 0.5px #333; */
}

nav button:hover {
  color: #537334;
  background-color: transparent;
  cursor: pointer;
  /* text-decoration: underline; */
}